body {
    background-color: #f9edd2;
}

header {
    background-color: #5d222c;
    color: white;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    margin: 5px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #d7ccc8;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
}

nav a:hover {
    background-color: #440200;
    color: white;
    transform: translateY(-2px);
}

.main {
    text-align: center;
    padding: 10px;
}

.kart {
    background: #5d222c;
    color: #f9edd2;
    border-radius: 10px;
    width: 250px;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.kart img {
    width: 100%;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    background-color: #440200;
    color: white;
    padding: 10px;
    border-radius: 10px;
}





.container {
    display: flex;
    margin: 40px auto;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.img {
    flex: 1;
    background-color: #5d222c;
    padding: 20px;
    border-radius: 8px;
}

.img img {
    width: 100%;
    border-radius: 8px;
}

.about-text {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-text h2 {
    color: #3e2723;
    font-size: 32px;
    padding-bottom: 15px;
}

.about-text p {
    line-height: 1.6;
    margin-bottom: 30px;
    color: #5d222c;
    font-size: 16px;
}

.btn {
    background-color: #5d222c;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    align-self: flex-start;
}




.contact-section {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Flex yapı */
.content-flex {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: flex-start;
}

/* Harita sol */
.map-container {
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
}

/* Yazılar sağ */
.contact-info {
    flex: 1;
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 5px;
}

.contact-info div {
    margin-bottom: 10px;
}



.iletisim {
    margin: 60px auto;
    padding: 40px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.iletisim p {
    color: #666;
    margin-bottom: 40px;
}

.iletisim-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.iletisim-map {
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
}

.iletisim-form {
    flex: 1;
    text-align: left;
}

.iletisim-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #444;
}

.iletisim-form input,
.iletisim-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}


.iletisim-form button {
    background-color: #5d222c;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;

}